@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.preview {
  border: 1px solid black;
  width: 50%; /* Change as necessary */
  max-width: 500px;
  max-height: calc(520px * 1.294);
  height: 80vh;
  font-family: "Montserrat", sans-serif;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
}

.preview__personal-information {
  letter-spacing: 4px;
}

.personal-information__full-name {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}

.personal-inforamtion__full-name--last {
  font-weight: 500;
  margin-left: 10px;
}

hr {
  border-top: 1px solid gray;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.personal-information__professional-title {
  text-align: center;
  margin: 0;
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
}

.preview__main-content {
  margin-top: 20px;
  font-size: 8px;
  display: flex;
  gap: 10px;
  flex-grow: 1;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 300;
}

.vl {
  border-left: 1px solid gray;
  height: inherit;
}

.content__title {
  font-size: 8px;
  letter-spacing: 4px;
  font-weight: 500;
}

.profile__content {
  word-break: break-word;
}

.main-content--left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 35%;
}

.main-content--right {
  width: 65%;
}

.contact__address,
.contact__email {
  word-break: break-word;
}

.education__item {
  margin-top: 10px;
}

.education__degree,
.education__school,
.education__dates {
  font-size: 8px;
  font-weight: 500;
  margin: 0;
}

.education__degree {
  color: gray;
}

.work-experience__items {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.main-content__work-experience > .content__title {
  margin-bottom: 8px;
}

.work-experience__position-and-dates {
  display: flex;
  justify-content: space-between;
}

.position-and-dates__dates {
  display: flex;
  gap: 5px;
}

.work-experience__company-name {
  font-size: 8px;
}
.work-experience__description {
  text-transform: none;
}

.skills__list {
  list-style: none;
  padding: 0;
}

@media (width < 1100px) {
  .preview {
    width: 50%;
    min-width: 300px;
    box-sizing: border-box;
  }
}

@media print {
  @page {
    margin: 0;
  }

  .edit-form,
  .edit-form__print-btn {
    display: none;
  }

  .resume-wrapper {
    height: 27.94cm;
    width: 21.95cm;
    display: block;
    padding: 0;
  }

  .preview {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    border: none;
  }

  .personal-information__professional-title,
  .preview__main-content,
  .content__title,
  .education__degree,
  .education__school,
  .education__dates,
  .work-experience__company-name {
    font-size: 12px;
  }

  .work-experience__items {
    justify-content: space-evenly;
  }

  .experience__item {
    margin-top: 10px;
  }

  .work-experience__items * {
    font-size: 12px;
  }

  .content__title {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
